@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700");

body {
  padding: 0;
  margin: 0;
}

/*--- navigation bar ---*/

.navbar {
  background: rgb(70, 145, 70);
}

.navbar-nav {
  font-size: 150%;
  list-style-type: none;
  letter-spacing: 4px;
  line-height: 55px;
  padding-bottom: 10px;
}

.navbar-nav a {
  text-decoration: none;
  color: #fafafa;
}

.navbar-nav a:hover {
  border-bottom: 2px solid orange;
}

.navbar-nav .active {
  border-bottom: 2px solid orange;
}

.navbar-brand {
  font-size: 30px;
  color: white;
}

/*h1,h2,h3,h4,h5,h6 {
  margin-top: 20px;
}
*/
p {
  font-family: "Exo", sans-serif;
  font-size: 18px;
}

.navbar-collapse {
  justify-content: flex-end;
}

/****-----------Cover elements----*/

.cover-outer {
  height: 600px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

@keyframes cover-zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

#cover-image {
  height: 600px;
  width: 100%;
  background: url("../img/cover2.jpg") no-repeat center center;
  animation-name: cover-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

/** ---------------H3, Cover text and Button elements-*/

#cover-text,
h3 {
  color: #fafafa;
  margin: 10px auto;
}

#cover-text {
  font-size: 100%;
  font-family: "Exo", sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;

  width: 400px;
  height: 130px;
  padding-top: 10px;
  padding-left: 10px;
  background-color: rgba(12, 151, 82, 0.8);
  bottom: 30px;
  right: 150px;
  position: absolute;
}

.button {
  background-color: orange;
  border-radius: 6px;
  color: white;
  text-align: center;
  padding: 4px;
  position: relative;
  margin-top: 20px;
  left: 30%;
  text-decoration-style: none;
  font-size: 20px;
}

/**----------------------- Home page -main content-*/

.welcome {
  margin: 5px auto;
  font-family: "Exo", sans-serif;
  text-align: center;
  font-size: 250%;
  color: green;
}

.main-content {
  margin: 2em auto;
  padding: 1em;
  position: relative;
}

.vegan-content {
  color: yellowgreen;
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
}

/**----------------------- Home page vegan media-*/
.vegan-media {
  height: auto;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 50px;
}

#salad-video {
  width: 100%;
}

video {
  max-width: 100%;
  height: auto;
}

/* ----------------------------------------Recipes page */

.vegan-recipes {
  margin: 2em auto;
  padding: 1em;
  position: relative;  
  
}

.top-section {
  margin-top: 110px;
}

.recipes {
  color: yellowgreen;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.last-section {  
  margin-bottom: 50px;   
}

/* ----------------------------------------Contact page */
.contact-info {  
  width: 100%;
  
  margin-top: 160px;
  margin-bottom: 30px;
  height: 600px;     
}

.contact-info,  h2 {
    padding-bottom: 20px; 
    border: 5px solid red;  
}

/* ----------------------------------------Sign up page */
.sign-up {  
  width: 380px; 
  height: 535px;

  margin-top: 120px;
  margin-bottom: 50px;
  border: 5px solid red;
}

.signup-form {  
  margin: 10px auto 10px auto;  
  padding-top: 15px;
}

